@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dcfff0;
    font-family: 'Josefin Sans', sans-serif;
}

/* NAVBAR */
nav{
    background-color: black;
    color: white;
    display: flex;
    height: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;

}

nav ul li{
    padding: 0px 13px;
    font-weight: 600;
    cursor: pointer;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
    cursor:default
}
.brand img{
    width: 35px;
    padding: 0px 5px;
}

/* CONTAINER */
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;  
    width: 70%;
    margin: 30px auto;
    border-radius: 12px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 34px;
    font-family: 'Varela Round', sans-serif;
}
.songItemContainer h1{
    color: violet;
    font-size: 1.9rem;
}

.songItem{
    background-color: #feffb2;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-radius: 20px;
    padding: 0px 12px;
    margin: 11px 0;
}

.songItem img{
    width: 41px;
    border-radius: 20px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

/* BOTTOM */
.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    color: white;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#progressBar{
    width: 80vw;
}

.icons{
    margin-top: 10px;
}

.icons i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 11vw;
    font-family: 'Varela Round', sans-serif;
    margin-top: 23px;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}